<div class="header-wrap well well-lg">
    {#    <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Главная</button>
            <button type="button" class="btn btn-default">Продукция</button>
            <button type="button" class="btn btn-default">О компании</button>
            <button type="button" class="btn btn-default">Контакты</button>
            <button type="button" class="btn btn-default">Программное обеспечение</button>
            <button type="button" class="btn btn-default">Сертификаты</button>
            <button type="button" class="btn btn-default">Статьи</button>
            <button type="button" class="btn btn-default">Доставка</button>
            <button type="button" class="btn btn-default">Корзина</button>
        </div>#}
    {{ menu }}
</div>
